.principalContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 2rem 0;
}

.perfilImg {
    width: 25%;
    border-radius: 80px;
}

.aboutContainer {
    width: 30rem;
}

.titleContainer {
    font-size: 2.5rem;
    padding: 2rem;
    color: #3f6a83;
}

.pContainer {
    padding: 2rem;
    font-size: 1.2rem;
    color: #474a51;
}

@media (max-width: 765px) {
    .aboutContainer {
        display: flex;
        flex-direction: column;
    }

    .perfilImg {
        width: 25%;
        display: flex;
        flex-direction: column;
    }
}